.com-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.com-img .info-box {
  position: static;
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
}
.com-img .info-box .title {
  color: #ff5b00;
}
.com-img .info-box .title {
  font-size: 46px;
  font-weight: bold;
  margin-bottom: 20px;
}
.com-img .info-box .text {
  font-size: 18px;
  width: 36%;
  color: rgba(0, 0, 0, 0.9);
}

.section-box .title {
  /* margin: 96px 0; */
}

.form-info {
  padding-top: 20px;
}

.form-info {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 750px;
}
.form-info .info-box {
  flex-basis: 80.5%;
}
.row-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .d-md-block {
    display: block !important;
  }
}
.row-flex .title {
  font-size: 24px;
  font-weight: bold;
  color: #ff5b00;
  text-align: center;
}
.row-flex .text {
  padding: 20px 0 30px;
  color: rgba(0, 0, 0, 0.8);
}
.item-group {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.item-group .item-box:not(:last-child) {
  padding-right: 10px;
}
.item-group .item-box {
  flex-basis: 25%;
  display: flex;
  padding-bottom: 10px;
}
.item-group .item-box .icon-box {
  flex-basis: 20%;
}
.item-group .item-box .icon-box img {
  width: 30px;
}
.item-group .item-box .type-box {
  flex-basis: 80%;
  display: block;
  margin-bottom: 0;
}
.item-group .item-box .type-box .type-title {
  font-size: 18px;
  color: #ff5b00;
  margin-bottom: 10px;
  font-weight: bold;
}
.item-group .item-box .type-box .type-text {
  font-weight: 400;
}
.row-flex .text {
  padding: 20px 0 30px;
  color: rgba(0, 0, 0, 0.8);
}
.oem-box .title {
  font-size: 24px;
  font-family: Source Han Sans CN;
  font-weight: bold;
  color: #ff5b00;
  padding-top: 32px;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .oem-box .subtitle {
    text-align: left;
    text-indent: 2em;
  }
}
.oem-box .subtitle {
  font-size: 14px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #000000;
  opacity: 0.9;
  line-height: 25px;
  padding: 16px 0 33px 0;
}

.oem-box .email-box {
  width: 100%;
  height: 185px;
  /* background: url('https://www.hello-tech.com/images/letter-bg2c0261315592068a94c83925f9824615.png')
    center/contain no-repeat; */
  position: relative;
}
.oem-box .email-box .box {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.oem-box .email-box .box .titles {
  font-size: 24px;
  font-family: Source Han Sans CN;
  font-weight: bold;
  color: #ff5b00;
  padding: 20px 0 8px 0;
  text-align: center;
}
.oem-box .email-box .box .subtitles {
  font-size: 14px;
  font-family: Source Han Sans CN;
  font-weight: 500;
  color: #ff5b00;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .form-info {
    display: block;
  }
  .form-info .info-box .row-flex .row-item .title {
    text-align: left;
    font-size: 16px;
  }
}
@media only screen and (max-width: 767px) {
  .form-info .info-box .row-flex .row-item .text {
    padding: 0;
    text-indent: 2em;
    color: #000000;
    font-size: 14px !important;
    line-height: 24px;
    padding: 12px 0 17px 0;
  }
}
@media only screen and (max-width: 767px) {
  .item-group {
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 767px) {
  .item-group .item-box:not(:last-child) {
    padding-right: 0;
  }
}
@media only screen and (max-width: 767px) {
  .item-group .item-box {
    flex-basis: 100%;
    margin-bottom: 5px;
  }
}
@media only screen and (max-width: 767px) {
  .item-group .item-box .icon-box {
    flex-basis: 10%;
    display: flex;
  }
}
@media only screen and (max-width: 767px) {
  .item-group .item-box .icon-box img {
    width: 35px;
    height: 35px;
  }
}
@media only screen and (max-width: 767px) {
  .item-group .item-box .type-box {
    text-align: left;
    text-indent: 0;
    margin-left: 5px;
  }
}
@media only screen and (max-width: 767px) {
  .item-group .item-box .type-box .type-title {
    margin-bottom: 5px;
  }
}
@media only screen and (max-width: 767px) {
  .form-info .info-box .row-flex .row-item .text {
    padding: 0;
    text-indent: 2em;
    color: #000000;
    font-size: 14px;
    line-height: 24px;
    padding: 12px 0 17px 0;
  }
}
