.swiper {
  width: 100%;
  height: 100%;
  /* background-color: red; */
}

.home {
  width: 100%;
  height: 100vh;
}

.mySwiper {
  height: 100vh;
  /* background-color: red; */
}


/* home init style css */
.home-init,.banner-item {
  background-size: cover;  
  height: 100vh;
  background-repeat: no-repeat no-repeat;
}

