.amazon-footer {
  position: fixed;
  bottom: 0;
  z-index: 999;
  background-color: #fff;
  width: 100%;
  padding: 20px;
  -webkit-box-shadow: -2px -7px 16px -4px rgba(0,0,0,0.47); 
box-shadow: -2px -7px 16px -4px rgba(0,0,0,0.47);
}
.amazon-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.amazon-item .amazon-img {
  width: 60px;
  height: auto;
  border-radius: 4px;
  /* min-height: 100px; */
}

.description {
  font-size: 20px;
  padding-left: 12px;
}

.price {
  font-size: 20px;
  padding-left: 12px;
}

.card-custom-hover-style {
  transition-property: all;
  cursor: pointer;
}

.card-custom-hover-style:hover {
  transform: translateY(-4px);
}
