.amazon-footer {
  position: fixed;
  bottom: -100px;
  z-index: 999;
  background-color: #fff;
  width: 100%;
  padding: 10px 600px;
  -webkit-box-shadow: -2px -7px 16px -4px rgba(0, 0, 0, 0.47);
  box-shadow: -2px -7px 16px -4px rgba(0, 0, 0, 0.47);
}
.amazon-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.amazon-item .amazon-img {
  width: 60px;
  height: auto;
  border-radius: 4px;
}

.description {
  font-size: 16px;
  padding-left: 12px;
}

.price {
  font-size: 14px;
  padding-left: 12px;
}

.card-custom-hover-style {
  transition-property: all;
  cursor: pointer;
}

.card-custom-hover-style:hover {
  transform: translateY(-4px);
}
.buy-now {
  font-size: 20px;
}

@media only screen and (max-width: 767px) {
  .amazon-footer {
    padding: 10px;
  }
  .buy-now {
    font-size: 12px;
  }
  .description {
    font-size: 12px;
  }
  .price {
    font-size: 12px;
  }
}

.amazon {
  color: #fff !important;
  display: flex;
  align-items: center !important;
}
