.footer {
  justify-content: center;
  padding-bottom: 40px;
  display: flex;
  font-size: 13px;
  min-height: 40px;
  align-items: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0.5);
  background-color: #f8f8f8;
  text-align: center;
}


