.header-maim {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  -webkit-box-shadow: -1px 2px 17px 2px rgba(0,0,0,0.3); 
  box-shadow: -1px 2px 17px 2px rgba(0,0,0,0.3);
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  background-color: #fff;
}

.header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  color: #000;
  font-weight: 400;
}

.header-maim .header-box .header-l .logo {
  position: relative;
  z-index: 99;
}

.header-maim .header-box .header-l .logo .navbar-logo {
  display: block;
  width: 200px;
  /* height: 60px; */
}

.header-maim .header-box .nav-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.children-nav {
  position: absolute;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 60px;
  background-color: #f8f8f8;
  color: #000;
  cursor: pointer;
}

.children-nav .children-title {
  margin-right: 50px;
}

.children-nav .children-title:hover {
  color: #ff5b00;
}

/* header-content */
.header-maim .header-box .header-c {
  flex: 1;
}

.header-maim .header-box .nav-box .nav-item:not(:last-child) {
  margin-right: 50px;
}

.header-maim .header-box .nav-box .nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.header-maim .header-box .nav-box .nav-item span {
  /* color: #fff; */
}

.header-maim .header-box .nav-box .nav-item span::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 0%;
  height: 3px;
  border-radius: 3px;
  background-color: #ff5b00;
  transition: 0.3s ease;
}

.header-maim .header-box .nav-box .nav-item span:hover::before {
  width: 100%;
  left: 0;
}

.header-maim .header-box .nav-box .nav-item span:hover.container-fluid {
  background-color: #fff;
}

.header-r {
  display: flex;
  align-items: center;
}

.navbar-toggler {
  padding: 0.25rem 0 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  display: none;
}

.navbar-toggler img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}


/* 适配 */
@media screen and (max-width: 580px) {
  .header-c {
    display: none;
  }
  .navbar-toggler {
    display: block;
  }
}

.lang  {
  transition: all 0.3s;
}
