.footer-main {
  background: #f8f8f8;
}

.footer-main .mall-wrapper {
  padding: 60px 0 30px;
}

.container {
  padding: 0;
}

.footer-main .mall-wrapper .mall-box {
  display: flex;
  justify-content: space-between;
}

.footer-main .mall-wrapper .mall-box .make-a-box {
  display: flex;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(191, 191, 191, 0.36);
}

.footer-main .mall-wrapper .mall-box .make-a-box .make-a:not(:last-child) {
  margin-right: 50px;
}

.footer-main .mall-wrapper .mall-box .make-a-box .make-a {
  text-align: center;
  color: #999;
}

.footer-main .mall-wrapper .mall-box .make-a-box .make-a .img {
  width: 70px;
  height: 70px;
  margin: 0 auto;
}

.footer-main .mall-wrapper .mall-box .make-a-box .make-a .img {
  width: 70px;
  height: 70px;
  margin: 0 auto;
}
.footer-main .mall-wrapper .mall-box .make-a-box .make-a .img.tmall-img {
  background: url("https://www.hello-tech.com/images/tmall0285dc995f14995d93cc212518e28f43.png") center center no-repeat;
}

.footer-main .mall-wrapper .mall-box .make-a-box .make-a .img.jd-img {
  background: url("https://www.hello-tech.com/images/jd7e537e8d003ae3a5fd195050f4d58526.png") center center no-repeat;
}

.footer-main .qrcode-box {
  max-width: 100px;
}

@media (min-width: 768px) {
  .d-md-block {
    display: block !important;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/* @media (min-width: 576px) {
  .d-sm-none {
    display: none !important;
  }
} */

@media only screen and (max-width: 767px) {
  .footer-main {
    background: #f8f8f8;
    padding-top: 30px !important;
  }
}
.d-block {
  display: block !important;
}

.footer-main .mall-wrapper-sm .mall-box-sm {
  padding: 0 60px;
}

.footer-main .mall-wrapper-sm .mall-box-sm .footer-logo-sm {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 32px 0;
}

.footer-main .mall-wrapper-sm .mall-box-sm .make-a-box {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 14px;
  border-bottom: 1px solid #ebebeb;
}

.footer-main .mall-wrapper-sm .mall-box-sm .make-a-box .make-a-sm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 12px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #666666;
}

.footer-main .mall-wrapper-sm .mall-box-sm .make-a-box .make-a-sm .logo-item-sm img {
  width: 64px;
  height: 40px;
}

.footer-main .mall-wrapper-sm .mall-box-sm .make-a-box .make-a-sm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 12px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #666666;
}

.footer-main .mall-wrapper-sm .mall-box-sm .make-a-box .make-a-sm img {
  width: 30px;
  height: 35px;
}

.footer-main .mall-wrapper-sm .mall-box-sm .make-a-box .make-a-sm span {
  opacity: 0.8;
}

.footer-main .mall-wrapper-sm .mall-box-sm .make-a-box .make-a-sm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 12px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #666666;
}

.footer-main .mall-wrapper-sm .mall-box-sm .footer-logo-sm {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 32px 0;
}

.footer-main .mall-wrapper-sm .mall-box-sm .footer-logo-sm .logo-item:first-child img {
  width: 56px;
  height: 56px;
}

.footer-main .mall-wrapper-sm .mall-box-sm .footer-logo-sm .logo-item:last-child {
  width: 119px;
  height: 47px;
}
